body{
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #fafbfe;
    color: var(--side-bar);
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
:root{
    --side-bar: rgb(14, 52, 77);
    --light-gray: #f3f9fa;
    --teal:  #3cb7cd;
    --nav-bar: white;
    --blue: rgb(77, 195, 254);
    --light-gray-blue: #4b587c96;
}
.wrapper {
    display: flex;
    width: 100%;
}
.form-control:focus{
    outline: 0;
    box-shadow: none;
}

/* .............................. sidebar start  ..........................*/
#sidebar{
    background-color: var(--side-bar);
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100vh;
    transition: all 0.25s ease-in-out;
    padding: 0 15px 0 8px;
    position: sticky;
    top: 0; 
}
#sidebar > .d-flex{
    border-bottom: 1px solid rgba(204, 204, 204, 0.767);
    margin-bottom: 20px;
}
#sidebar li{
    list-style: none;
}
#sidebar.expand{
    width: 340px;
}
.toggle-btn{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 20px 22px;
}
.toggle-btn i{
    color: #fff;
    font-size: 1.5rem;
}
.sidebar-logo{
    margin: auto 0;
    text-wrap: nowrap;
}
.sidebar-logo a{
    color: #fff;
    text-decoration: none;
}
.sidebar-nav{
    padding: 0 32px 40px 8px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -12px;
}
.sidebar-nav::-webkit-scrollbar{
    width: 4px;
}
.sidebar-nav::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 5px;
}
.sidebar-nav::-webkit-scrollbar-track{
    background-color: var(--light-gray-blue);
    border-radius: 5px;
}
.sidebar-link-name{
    color: #fff;
    display: block;
    padding: 6px;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar-link-name svg{
    margin: 3px 15px 5px 3px;
}
.sidebar-link-name span{
    font-size: 13pt;
}
.sidebar-link-name:hover,
.sidebar-link:hover{
    color: var(--blue);
}
.sidebar-item{
    position: relative;
    margin-bottom: 22px;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) .sidebar-link-name span,
#sidebar:not(.expand) .sidebar-link {
  display: none;
}
.sidebar-link-name.active{
    background-color: var(--light-gray-blue);
    color: var(--blue);
    border-radius: 5px;
}
.sidebar-link-name.active svg path{
    color: var(--blue);
}
.sidebar-link{
    display: block;
    width: 90%;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 11pt;
    margin: 0 20px 2px;
}
.sidebar-dropdown.hide{
    display: none;
}
.sidebar-link-name[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width:0 1px 1px 0;
    content: "";
    display: block;
    padding: 3px;
    position: absolute;
    right: 30px;
    top: 16px;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
    border-color: var(--blue);
}
.sidebar-link-name[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
#sidebar:not(.expand) .sidebar-link-name[data-bs-toggle="collapse"]::after {
    right: -14px;
}
/* .............................. sidebar end ..........................*/


/* ...............................main start  ..........................*/
.main {
    width: 100%;
    transition: all 0.35s ease-in-out;
    min-height: 100vh;
}
nav{
    background-color: var(--nav-bar);
}
.navbar-expand .navbar-nav{
    margin-left: auto;
}
nav > button{
    opacity: 0;
    visibility: hidden;
}
nav h4{
    margin-left: -42px;
}
.navbar-collapse{
    margin-right: 20px;
}
.dropdown-menu form button{
    margin-left: -10px;
    color: rgb(250, 64, 64);
}
.dropdown-menu form button:hover{
    color: rgb(250, 64, 64);
}
.dropdown-item:hover{
    color: var(--teal)!important;
    background-color: transparent !important;
}
.dropdown-item:focus,
.dropdown-menu form button:focus{
    border: none;
}
@media screen and (max-width: 1160px){
    #sidebar{
        margin-top: 64px;
        box-shadow: none;
        width: 92px;
        height: 100vh;
        padding-top: 25px;
        position: fixed;
        display: none;
    }    
    #sidebar.active {
        display: block;
    }
    #sidebar.animated {
        transition: all 0.25s ease-in-out;
    }
    #sidebar > .d-flex{
        display: none !important;
    }
    .sidebar-nav{
        padding: 10px 32px 90px 8px;
        margin-top: -5px;
    }
    nav > button{
        border: 1px solid black;
        opacity: 1;
        visibility: visible;
    }
    nav h4{
        margin-left: -8px;
        font-size: 13pt;
        margin-top: 8px;
    }
    nav{
        box-shadow: none;
    }
    #sidebar.expand{
        width: 300px;
    }
    .navbar-nav li:first-child{
        margin-right: 20px !important;
    }
}
@media screen and (min-width: 1500px){
    #sidebar{
        width: 100px;
    }
}
/* ...............................main end  ..........................*/
