body{
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #fdfafa;
    color: var(--side-bar);
    animation: fadeIn 0.5s ease-in-out;
}
:root{
    --side-bar: #1b2d45;
    --green: rgb(20, 179, 20);
    --light-gray-blue: #47527096;
}

li{
    list-style: none;
}
.wrapper{
    display: flex;
}
.main{
    background-color: #fafbfe;
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
}
#sidebar{
    background-color: var(--side-bar);
    display: flex;
    flex-direction: column;
    min-width: 95px;
    transition: all 0.25s ease-in-out;
    width: 95px;
    z-index: 1000;
    padding: 0 15px 0 8px;
    height: 100vh;
}
#sidebar.expand{
    width: 350px;
}
.toggle-btn{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 22px;
}
.toggle-btn i{
    color: #fff;
    font-size: 1.5rem;
}
.sidebar-logo{
    margin: auto 0;
    text-wrap: nowrap;
}
.sidebar-logo a{
    color: #fff;
    text-decoration: none;
}

.sidebar-nav{
    padding-left: 8px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: 1px solid rgb(143, 143, 143);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -15px;
}
.sidebar-nav::-webkit-scrollbar{
    width: 3px;
    margin-right: -10px;
}
.sidebar-nav::-webkit-scrollbar-thumb{
    background-color: var(--green);
}
.sidebar-nav::-webkit-scrollbar-track{
    background-color: var(--light-gray-blue);
}
.sidebar-link-name{
    color: #fff;
    display: block;
    padding: 6px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-link-name svg{
    margin: 3px 15px 5px 3px;
}
.sidebar-link-name span{
    font-size: 13pt;
}
.sidebar-link-name:hover,
.sidebar-link:hover{
    color: var(--green);
}

.sidebar-item{
    position: relative;
    margin-bottom: 22px;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link-name span,
#sidebar:not(.expand) .sidebar-link{
  display: none;
}
.sidebar-link-name.active,
.sidebar-link.active{
    background-color: var(--light-gray-blue);
    color: var(--green);
    border-radius: 5px;
}
.sidebar-link-name.active svg path{
    color: var(--green);
}
.sidebar-link{
    display: block;
    width: 90%;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 11pt;
    margin-left: 20px;
    margin-right: 20px;
}
.sidebar-dropdown.hide{
    display: none;
}
.sidebar-link-name[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width:0 1px 1px 0;
    content: "";
    display: block;
    padding: 3px;
    position: absolute;
    right: 30px;
    top: 16px;
    /* transform: rotate(-135deg); */
    transform: rotate(45deg);
    transition: all .2s ease-out;
    border-color: var(--green);
}
/* .sidebar-link-name[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
} */
#sidebar:not(.expand) .sidebar-link-name[data-bs-toggle="collapse"]::after {
    right: -14px;
}
